DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
SESSION_SECRET="super-duper-s3cret"
SENDGRID_API_KEY=""
JWT_SECRET=""
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_UPLOAD_TOKEN=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""